

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">List View</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">Data List</a>
                                    </li>
                                    <li class="breadcrumb-item active">List View
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="form-group breadcrum-right">
                        <div class="dropdown">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Chat</a><a class="dropdown-item" href="#">Email</a><a class="dropdown-item" href="#">Calendar</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Data list view starts -->
                <section  class="data-list-view-header">
                    <div class="action-btns d-none">
                        <div class="btn-dropdown mr-1 mb-1">
                            <div class="btn-group dropdown actions-dropodown">
                                <button type="button" class="btn btn-white px-1 py-1 dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item"  routerLink="/Admin/addItem/0"><i class="feather icon-trash"></i>Add New Item</a>
                                    <a class="dropdown-item" href="#"><i class="feather icon-archive"></i>Archive</a>
                                    <a class="dropdown-item" href="#"><i class="feather icon-file"></i>Print</a>
                                    <a class="dropdown-item" href="#"><i class="feather icon-save"></i>Another Action</a>
                                </div>
                            </div>
                        </div>
                    </div>






                    <!-- DataTable starts -->
                    <div class="table-responsive">
                        <table class="table data-list-view">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Image</th>
                                    <th>Item Id</th>
                                    <th>NAME</th>
                                    <th>Unit</th>
                                    <th>CATEGORY</th>
                                    <th>POPULARITY</th>
                                    <th>ORDER STATUS</th>
                                    <th>PRICE</th>
                                    <th>ACTION</th>
                          
                                </tr>
                            </thead>
                            <tbody >

                                <tr  *ngFor="let item of items"     >
                                    <td></td>
                                    <td class="product-img"><img   [src]="item.image"   style="width: 100px;height: 100px;"  alt="Img placeholder">
                                    </td>
                                    <td class="product-name">{{item.itemId}}</td>
                                    <td   class="product-name">{{item.nameEn}}       </td>


                                    <td class="product-name"   > {{item.unit.unitNameAr}}
                                      <!-- <ul>
                                        <li *ngFor="let x of items[12].unit">any  {{x.unitNameAr}}  </li>
                                      </ul> -->
                                    </td>

                                    <td class="product-category">{{item.nameEn}}</td>
                                    <td>
                                        <div class="progress progress-bar-success">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:97%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-warning">
                                            <div class="chip-body">
                                                <div class="chip-text">on hold</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$69.99</td>
                                    <td class="product-action">
                                        <span class="action-edit add-new-data"  (click)="OnEdit(item.itemId)"     > <i      class="feather icon-edit"></i></span>
                                        <span class="action-edit add-new-data"   routerLink="/Admin/addItem/{{item.itemId}}"     > Edit  </span>


                                        <span class="action-delete"  (click)="OnDelete(item.itemId)" >  <i   class="feather icon-trash"> </i></span>
                                    
                                            
                                      </td>

                                     
                                </tr>




                            </tbody>
                        </table>
                    </div>
                    <!-- DataTable ends -->



                    <!-- add new sidebar starts -->
                    <div class="add-new-data-sidebar">
                        <div class="overlay-bg"></div>
                        <div class="add-new-data">
                            <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
                                <div>
                                    <h4 class="text-uppercase">List View Data</h4>
                                </div>
                                <div class="hide-data-sidebar">
                                    <i class="feather icon-x"></i>
                                </div>
                            </div>
                            <div class="data-items pb-3">
                                <div class="data-fields px-2 mt-3">


                                  <form  class="form form-horizontal"  #AddingItems2="ngForm" (ngSubmit) ="SaveDate(AddingItems2)">
                                    <div class="form-body">
                                      <div class="row">


                                            <!-- nameAr -->
                                          <div class="col-12">
                                              <div class="form-group row">
                                                  <div class="col-md-4">
                                                      <span>Item Name Ar </span>
                                                  </div>
                                                  <!-- [(ngModel)]="myitems.nameAr"   test-->
                                                  <div class="col-md-8">
                                                      <input  [(ngModel)]="myitems.nameAr"   type="text" class="form-control"    ngModel  name="nameAr" #nameArabic="ngModel"  required  minlength="2" placeholder="Item Name Ar">
                                                      <span   class="error-block"  *ngIf="!AddingItems2.controls.nameAr.valid && AddingItems2.controls.nameAr.touched">

                                                      <span  *ngIf="AddingItems2.controls.nameAr.errors?.required"> Enter Item Name in Arabic </span>
                                                      <span  *ngIf="nameArabic.errors?.minlength">  Mini Length is 2 letters </span>
                                                    </span>
                                                    </div>
                                              </div>
                                          </div>



                                               <!-- nameEn -->
                                          <div class="col-12">
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                    <span>Item nameEn </span>
                                                </div>
                                                <!-- [(ngModel)]="myitems.nameAr"   test-->
                                                <div class="col-md-8">
                                                    <input   [(ngModel)]="myitems.nameEn"   type="text" class="form-control"    ngModel  name="nameEn" #nameEnglish="ngModel"  required  minlength="2" placeholder="Item name En">
                                                    <span   class="error-block"  *ngIf="!AddingItems2.controls.nameAr.valid && AddingItems2.controls.nameEn.touched">

                                                    <span  *ngIf="AddingItems2.controls.nameEn.errors?.required"> Enter Item Name in English </span>
                                                    <span  *ngIf="nameEnglish.errors?.minlength">  Mini Length is 2 letters </span>
                                                  </span>
                                                  </div>
                                            </div>
                                        </div>


                                               <!-- createdBy -->
                                               <div class="col-12">
                                                <div class="form-group row">
                                                    <div class="col-md-4">
                                                        <span>Item createdBy </span>
                                                    </div>
                                                    <!-- [(ngModel)]="myitems.nameAr"   test-->
                                                    <div class="col-md-8">
                                                        <input   [(ngModel)]="myitems.createdBy"   type="text" class="form-control"    ngModel  name="createdBy" #createdBy="ngModel"  required  minlength="2" placeholder="createdBy">
                                                        <span   class="error-block"  *ngIf="!AddingItems2.controls.createdBy.valid && AddingItems2.controls.createdBy.touched">

                                                        <span  *ngIf="AddingItems2.controls.createdBy.errors?.required"> Enter Item created By </span>
                                                        <span  *ngIf="createdBy.errors?.minlength">  Mini Length is 2 letters </span>
                                                      </span>
                                                      </div>
                                                </div>
                                            </div>



                                              <!-- Unit Id  -->
                                              <div class="col-12">
                                                <div class="form-group row">
                                                    <div class="col-md-4">
                                                        <span>Item unitId </span>
                                                    </div>
                                                    <!-- [(ngModel)]="myitems.nameAr"   test-->
                                                    <!-- <div class="col-md-8"> -->
                                                        <!-- <input   [(ngModel)]="myitems.unitId"   type="number" class="form-control"    ngModel  name="unitId" #unitId="ngModel"  required   placeholder="unitId"> -->
                                                        <!-- <span   class="error-block"  *ngIf="!AddingItems2.controls.unitId.valid && AddingItems2.controls.unitId.touched"> -->

                                                        <!-- <span  *ngIf="AddingItems2.controls.unitId.errors?.required"> Enter Item unitId  </span> -->
                                                        <!-- <span  *ngIf="unitId.errors?.Mini">  Mini Length is 2 letters </span> -->
                                                      <!-- </span>
                                                      </div> -->
                                                      <div class="col-md-8">
                                                            <select class="form-control"  #unitId="ngModel"   ngModel  name="unitId" required>

                                                                  <option value="">Select</option>
                                                                  <option

                                                                  *ngFor="let myunit of units"   value="{{myunit.unitId}}"  >{{myunit.unitNameAr}} -<span> {{myunit.unitId}}</span>

                                                                  </option>



                                                                </select>

                                                                <span   class="error-block"  *ngIf="!AddingItems2.controls.unitId.valid && AddingItems2.controls.unitId.touched">

                                                                  <span  *ngIf="AddingItems2.controls.unitId.errors?.required"> plz select Unit if item  </span>

                                                                </span>
                                                              </div>



                                                </div>
                                            </div>


                                             <!--  Add Image -->



                                                    <!-- Add Image  -->
                                                    <div class="col-12">
                                                      <div class="form-group row">
                                                          <div class="col-md-4">
                                                              <span>Adding Image</span>
                                                          </div>
                                                          <div class="col-md-8">
                                                              <input type="file" accept="image/*" class="form-control"   #image="ngModel" ngModel name="image"  required>
                                                              <span   class="error-block"  *ngIf="!AddingItems2.controls.image.valid && AddingItems2.controls.image.touched">
                                                              <span  *ngIf="image.errors?.required"> Select Image plz</span>
                                                             <!-- <span  *ngIf="myPhoto.errors?.minlength">  Mini Length is 2 letters </span> -->
                                                            </span>
                                                            </div>
                                                      </div>
                                                  </div>


                                          <div   class="col-md-8 offset-md-4"   >

                                              <button  name="sub"  [disabled]="!AddingItems2.valid"  type="submit"  class="btn btn-primary mr-1 mb-1">  {{formSate==1 ? 'Add' : 'Edit'}} </button>
                                              <button type="reset" class="btn btn-outline-warning mr-1 mb-1"  (click)="OnClear()">Reset</button>

                                          </div>




                                      </div>
                                  </div>
                                   </form>


                                </div>
                            </div>
                            <div class="add-data-footer d-flex justify-content-around px-3 mt-2">
                                <div class="add-data-btn">
                                    <button class="btn btn-primary">Add Data</button>
                                </div>
                                <div class="cancel-data-btn">
                                    <button class="btn btn-outline-danger">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- add new sidebar ends -->








                </section>
                <!-- Data list view end -->

            </div>
        </div>
    </div>
    <!-- END: Content-->





